body{
	
	background-repeat: repeat-x;
	background-color: #E0E0E0;
}
#wrapper{
	background-image: url("../res/gradient.png");
	background-repeat: repeat-x;
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
	height: auto;

	}
#logo{
	background-image: url("../res/logo.png");
	background-repeat: no-repeat;
	width:100%;
	height:100px;
}
#menu{
	width:100%;
	height: 120px;
}
#menu ul{
	list-style-type: none;
}
#menu li{
	display:block;
	width: 110px;
	height:60 px;
	float:left;
}
#menu li a{
	margin-left: auto;
	margin-right: auto;
}
#menu li a:hover{
	color: #26EBFF;
}
#sidebar{
	float:left;
	height:600px;
	width:200px;
}
#sidebar ul{
	float:left;
	list-style-type:none;
}
#sidebar li{
	margin-top:1em;
	margin-bottom:1em;
}

.menuitem a{
	font-family:Calibri;
	
	color:black;
	font-size:16px;
	text-decoration:none;
}
.menuitem a:hover{
	color:#26EBFF;
}
#content{
	width:1300px;
	height:1600px;
}
#content h1{
	font-family:Arial;
	font-size:26px;
}
#stat{
	margin-left:300px;
	width:800px;
}
#stat table{
	float: left;
	border-spacing:2px;
}
#stat tr{
	clear:right;
}
#stat th,td{
	margin-left:0;
	height:10px;
	width:200px;
}
#stat select{
	margin-left:3em;
}
#stat p{
	margin-left:3em;
}
#listHeader{
	font-size:16px;
}
