
#content{
	/*margin-left:200px;*/
	height:100%;
	width:600px;
}
#content p{
	margin-left:3em;
}
#content table{
	border-spacing:10px;
	margin-top: 5px;
	margin-bottom: 5em;
}
#content tr{
	clear:right;
}
#content select{
	float: left;
	height:30px;
}
#content input{
	float: left;
	width:120px;
	height:30px;
}
#content th,td{
	margin-left:0;
	text-align: left;
	height:10px;
}
#addrow{
	padding:10px;
	font-family: 'Barlow',sans-serif;
	background-color: white;
	border:1px solid #5DBCFF;
	border-radius: 4px;
	font-size: 16px;
	margin-bottom: 10px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
#addrow:hover{
	background-color: #5DBCFF;
	border: 1px solid gray;
}
.menubutton{
	position: relative;
	left: 500px;
	padding: 10px;
	font-family: 'Barlow',sans-serif;
	font-size:18px;
	background-color: #4CAF50;
	color: white;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
.menubutton:hover{

}
