body{
	background-image: url("../res/gradient.png");
	background-repeat: repeat-x;
	display: grid;
}
li,p,h1,h2,h3,td,th,select,option,form{
	font-family: 'Barlow',sans-serif;
}
a{
	text-decoration: none;
	color:black;
}
#wrapper{
	height: 100%;
	width: 1000px;
	margin:auto;
}
#logo{
	background-image: url("../res/logo.png");
	background-repeat: no-repeat;
	background-size: 440px 100px;
	margin-left:15px;
	margin-top:15px;
	width:100%;
	height:100px;
}
#menu{
	width:800px;
	height: 100px;
}
#menu ul{
	list-style-type: none;
}
#menu li{
	text-align: center;
	display:block;
	width: 110px;
	height:60 px;
	float:left;
}
#menu li a{
	font-size: 18px;
	text-decoration: underline;
	margin-left: auto;
	margin-right: auto;

	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
#menu li a:hover{

	color: #26EBFF;
}
.flatbutton{
	background-color: white;
	border: 1px solid #5DBCFF;
	border-radius: 5px;
	font-family: 'Barlow',sans-serif;
	text-align:center;
	text-decoration: none;
	font-size: 16px;
	display: inline-block;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}
.flatbutton:hover{
	background-color: #5DBCFF;
}
.menuitem {
	padding:2px;
	color:black;
	text-decoration:none;
}
.menuitem a:hover{
	color:#26EBFF;
}
#content{
	height:auto;
}
#content h1{
	font-size:26px;

}
#listHeader{
	font-size:16px;
}
.currentpage{
	display: block;
	padding:2px;
	background-color: #5DBCFF;
}
.currentpage a{
	color:white;
}
