body{
	background-color: white;
	display: grid;
}
li,p,h1,h2,h3,td,th,option,form{
	font-family: 'Barlow',sans-serif;
}
#wrapper{
	background-image: url("../res/gradient.png");
	background-repeat: repeat-x;
	height: 100%;
	width:	100%;
	}
#logo{
	background-image: url("../res/logo.png");
	background-repeat: no-repeat;
	margin-left:15px;
	margin-top:15px;
	width:100%;
	height:100px;
}
#menu{
	width:100%;
	height: 50px;
}
#menu ul{
	list-style-type: none;
}
#menu li{
	text-align: center;
	display:block;
	width: 110px;
	height:60 px;
	float:left;
}
#menu li a{
	margin-left: auto;
	margin-right: auto;
}
#menu li a:hover{
	color: #26EBFF;
}

.menuitem a{
	color:black;
	font-size:16px;
	text-decoration:none;
}
.menuitem a:hover{
	color:#26EBFF;
}
#content{
	width:auto;
	height:auto;
}
#content h1{
	font-size:26px;
}
#listHeader{
	font-size:16px;
}
.currentpage{
	display: block;
	background-color: #5DBCFF;
}
.currentpage a{
	color:white;
}
